:root{
  --primary: #F7F8F3;
  --secondary: #78Bcc4;
  --accent1: #002c3e;
  --accent2: #D50000;
  --accent3: #F9757C;
  --white: white;
  --black: black;
  --serif: "spectral", serif;
}
/* #F7444E; */
/* border box model css-tricks.com/box-sizing/ 
  html has a higher specificity than "*"
*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


/* * RESET BROWSER CSS and BASE STYLES * */
/* this resets the inherited styles from the browser */
body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  font-family: var(--serif);
  color: var(--black);
  text-align: center;
}


/* ---------------NAV----------------- */
nav {
  /* font-family: var(--serif); */
  font-size: 100%;
  list-style-type: none;
  padding: 1rem;
  background-color: var(--accent1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a {
  color: var(--white);
  text-decoration: none;
  display: block;
}


a:hover {
  color: var(--secondary);
  text-decoration: underline;
}

.button {
  background-color: var(--accent2);
  padding: 0.5rem;
  border-radius: 5px;
}

.button:hover {
  color: var(--white);
  background-color: var(--accent3);
}

.logo {
  height: 100px;
}

/* * Responsive * */
@media (min-width: 850px) {
  nav {
    max-width: 1600px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

/* ---------------HOME----------------- */
.section {
  height: 200px;
  width: auto;
  background-image: url("https://images.pexels.com/photos/580117/pexels-photo-580117.png?auto=compress&cs=tinysrgb&w=1600");
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}

/* ---------------LOGIN----------------- */
.login-parent-div {
  height: 90vh;
  width: auto;
  display: flex;
  background-image: url('https://images.pexels.com/photos/12274593/pexels-photo-12274593.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');

  background-position: center;
  background-repeat: no-repeat;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}

.login-wrapper {
  height: 700px;
  width: 1000px;
  display: flex;
  margin-top: 10px;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
  background-image: url('https://images.pexels.com/photos/12274593/pexels-photo-12274593.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}

.login-container {
  height: 500px;
  width: 500px;
  /* blur box */
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* .logo-div{
  margin: o auto;
} */

/* .login-logo {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  margin-top: 20px;
} */

label {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}